<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DE0F1751F4D0A5000D1453B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE0F18E1F4D0A5000D1453B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DE0F1991F4D0A5000D1453B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
